html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  padding: 50px;
}

/*
- pou쬴j emotikon melounu 游꼘 m칤sto odr치쬶y v seznamu
- ne콏e코 odsazen칤 textu a zarovn치n칤 textu/ikonek,
  jen si vyzkou코ej, jak p콏idat ikonku p콏ed ka쬯ou polo쬶u seznamu
*/

.list {
  list-style: none;
  padding: 0;
}
.list li {
  margin-top: 10px;
}

.list li::before {
  content: "游꼘";
  margin-right: 5px;
}
