html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  line-height: 1.5;
  background: #22352e;
  color: #ddd;
  max-width: 700px;
  padding: 50px;
}

h1, h2 {
  line-height: 1.2;
}


h2::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 10px;
  position: relative;
  left: -20px;
  background: lime;
}
